<div class="k-overlay"></div>

<kendo-window
  [width]="width"
  [height]="height"
  [minWidth]="minWidth"
  [minHeight]="minHeight"
  [title]="title"
  (close)="close.emit($event)"
>
  <kendo-card [orientation]="'horizontal'" width="100%" *ngIf="employee">
    <kendo-card-body>
      <div class="flex-container">
        <ul class="list-group">
          <li class="list-group-item">ID</li>
          <li class="list-group-item">First Name</li>
          <li class="list-group-item">Last Name</li>
          <li class="list-group-item">Salary</li>
          <li class="list-group-item">DOB</li>
          <li class="list-group-item">Department Name</li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item">:</li>
          <li class="list-group-item">:</li>
          <li class="list-group-item">:</li>
          <li class="list-group-item">:</li>
          <li class="list-group-item">:</li>
          <li class="list-group-item">:</li>
        </ul>
        <ul class="list-group" style="font-weight: bold">
          <li class="list-group-item">{{ employee.id }}</li>
          <li class="list-group-item">{{ employee.empFname }}</li>
          <li class="list-group-item">{{ employee.empLname }}</li>
          <li class="list-group-item">{{ employee.empSal | number }}</li>
          <li class="list-group-item">
            {{ employee.empDOB | date: "dd/MM/yyyy" }}
          </li>
          <li class="list-group-item">{{ employee.deptID }}</li>
        </ul>
      </div>
    </kendo-card-body>
    <img
      src="data:image/png;base64,{{ employee.empImg }}"
      alt="{{ employee.empFname }} Image"
    />
  </kendo-card>
</kendo-window>
