<h1>Employee Management</h1>
<kendo-grid
  [kendoGridBinding]="gridView"
  kendoGridSelectBy="id"
  [selectedKeys]="mySelection"
  [pageSize]="10"
  [pageable]="true"
  [sortable]="true"
  [groupable]="true"
  [reorderable]="true"
  [resizable]="true"
  [height]="500"
  [columnMenu]="{ filter: true }"
  [loading]="loading"
>
  <ng-template kendoGridToolbarTemplate>
    <input
      placeholder="Search in all columns..."
      kendoTextBox
      (input)="onFilter($event.target.value)"
    />

    <kendo-autocomplete
      [data]="gridView"
      [valueField]="'empFname'"
      [suggest]="true"
      [placeholder]="'Autocomplete'"
      (input)="onFilter($event.target.value)"
    ></kendo-autocomplete>
    <kendo-grid-spacer></kendo-grid-spacer>

    <button
      kendoButton
      *ngIf="!createWindowOpen"
      (click)="createWindowOpen = true"
      id="btnAdd"
      iconClass=" k-icon k-i-plus"
    >
      Add
    </button>
  </ng-template>
  <kendo-grid-column field="id" title="ID" width="20"> </kendo-grid-column>
  <kendo-grid-column field="empFname" title="First Name" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="empLname" title="Last Name" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="empSal" title="Salary" width="40">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span>{{ dataItem.empSal | number }}</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="empDOB" title="DOB(dd/MM/yyyy) " width="40">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span>{{ dataItem.empDOB | date: "dd/MM/yyyy" }}</span>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="deptID" title="Department Name" width="40">
  </kendo-grid-column>

  <kendo-grid-column title="Actions" width="60">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button
        kendoButton
        (click)="viewWindowOpen = true; empID = dataItem.id"
        class="actionBtn"
        id="viewBtn"
        iconClass="k-icon k-i-eye"
      >
        View
      </button>
      <button
        kendoButton
        (click)="editWindowOpen = true; empID = dataItem.id"
        class="actionBtn"
        id="editBtn"
        iconClass="k-icon k-i-edit"
      >
        Edit
      </button>
      <button
        kendoButton
        (click)="openDeleteConfDialog(dataItem.id)"
        class="actionBtn"
        id="deleteBtn"
        iconClass="k-icon k-i-delete"
      >
        Delete
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<!-- Delete confirmation dialog -->
<kendo-dialog
  title="Please confirm"
  *ngIf="openedDeleteConfDialog"
  (close)="closeDeleteConfDialog()"
  [minWidth]="250"
  [width]="450"
>
  <p style="margin: 30px; text-align: center">
    Are you sure you want to delete?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDeleteConfDialog()">No</button>
    <button kendoButton (click)="deleteEmp()" id="delConfBtn">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>

<app-create
  #windowDialog
  *ngIf="createWindowOpen"
  width="500"
  minHeight="210"
  title="Kendo Window-Dialog"
  (xclose)="iclose()"
></app-create>

<app-view
  #windowDialog
  *ngIf="viewWindowOpen"
  width="500"
  minHeight="210"
  title="Kendo Window-Dialog"
  (close)="closeViewWindow()"
  [empID]="empID"
></app-view>

<app-edit
  #windowDialog
  *ngIf="editWindowOpen"
  width="500"
  minHeight="210"
  title="Kendo Window-Dialog"
  (close)="closeEditWindow()"
  [empID]="empID"
>
</app-edit>
