:host ::ng-deep kendo-grid {
  font-size: 16px;
}

h1 {
  /* text-align: center; */
  background-color: teal;
  color: white;
  padding: 15px 15px 15px 10px;
  margin: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#btnAdd {
  background-color: #ff9e14;
  color: white;
  font-size: 14px;
  padding: 7px 10px 7px 7px;
  border: 0;
}

#btnAdd:hover {
  background-color: #bb6d00;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

input {
  border: 1px solid #ff9e14;
}

kendo-autocomplete {
  border: 1px solid #ff9e14;
}
/* #ff9e14 */
.actionBtn {
  margin-left: 2px;
  margin-right: 2px;
  padding: 7px 10px 7px 10px;
  font-weight: bold;
  /* border: 0; */
}

.actionBtn:hover {
  color: white;
}

#viewBtn:hover {
  background-color: #00a6c7;
}

#editBtn:hover {
  background-color: #ffc107;
}

#deleteBtn:hover {
  background-color: #c42e3d;
}

:host ::ng-deep kendo-dialog-titlebar {
  background-color: white;
  color: teal;
}

#delConfBtn {
  background-color: teal;
  color: white;
}

kendo-dialog {
  font-weight: bold;
}

:host ::ng-deep th {
  color: #ff9e14;
  font-weight: bold;
}
